version: "3.8"
services:
  web:
    image: nginx:alpine
    container_name: impress-web
    restart: unless-stopped
    networks:
      - proxy
    volumes:
      - /srv/web/impress:/usr/share/nginx/html:ro
    labels:
      - traefik.enable=true
      - traefik.docker.network=proxy
      - traefik.http.services.impress.loadbalancer.server.port=80
      - traefik.http.routers.impress-secure.rule=PathPrefix(`/`)
      - traefik.http.routers.impress-secure.entrypoints=websecure
      - traefik.http.routers.impress-secure.tls=true
      - traefik.http.routers.impress-secure.tls.certresolver=le
      - traefik.http.routers.impress-www-secure.rule=Host(`www.impressprintconcepts.com`)
      - traefik.http.routers.impress-www-secure.entrypoints=websecure
      - traefik.http.routers.impress-www-secure.tls=true
      - traefik.http.routers.impress-www-secure.tls.certresolver=le
      - traefik.http.routers.impress-www-secure.middlewares=impress-redirect
      - traefik.http.middlewares.impress-redirect.redirectregex.regex=^https?://www\.(.*)
      - traefik.http.middlewares.impress-redirect.redirectregex.replacement=https://$1
networks:
  proxy:
    external: true
